/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: $brand-primary;

  .credit {
    text-align: center;
    margin: 20px 0;
  }

  .nav.nav-justified {
    li {
      a {
        padding: 5px 15px;
        &:hover,
        &:focus {
          background-color: transparent;
        }
      }
    }

  }
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  background: #e0e4cd;
  padding: 60px 15px 0;
  overflow-x: hidden;
}
.content {
  padding: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}