@import "var";
@import "twbs/bootstrap";
@import "css3-mixins";
@import "compass";

/* Top Nav styles
-------------------------------------------------- */
.topUtil-nav {
  background: #212121;
  height: 28px;
  text-align: right;

  a {
    font-family: 'Open Sans', san-serif;
    font-size: .875em;
    line-height: 2.5;
    color: #898989;
    letter-spacing: .05em;
    text-transform: uppercase;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: #FFF;
      text-decoration: none;
    }
  }
}
.navbar-default {
	border-top-width: 15px;
	border-top-color: #b70d32;
  margin-top: 28px;
	
	.navbar-header {
    background: #a30532;
    
    .navbar-brand {

       img {
         
       }
    }
  }

  .container > .navbar-collapse {
    @media (min-width: $screen-sm) {
      margin-left: -24px;
      margin-right: -24px;
    }
  }
  
  .navbar-nav {
    background: #900627;
    margin-top: 0;
    @media (min-width: $screen-sm) {
      width: 75%;
      float: right;
    }
    
    li {
      a {
        font-size: 12px;
      }
    }
  }
  .navbar-toggle {
  	border-radius: 0;
  	
  	.icon-bar {
      background-color: #fff;
      height: 3px;
      border-radius: 0;
    }
  }
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
  outline-color: transparent;
}


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -135px;
  /* Pad bottom by footer height */
  padding: 0 0 135px;

  @media (min-width: $grid-float-breakpoint) {
    margin: 0 auto -60px;
    padding: 0 0 60px;
  }
}

/* Set the fixed height of the footer here */
#footer {
  height: 135px;
  background-color: $brand-primary;

  @media (min-width: $grid-float-breakpoint) {
    height: 60px;
  }

  .credit {
    text-align: center;
    margin: 5px 0;
  }

  .nav.nav-justified {
    li {
      a {
        padding: 5px 15px;
        &:hover,
        &:focus {
          background-color: transparent;
        }
      }
    }

  }
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  background: #e0e4cd;
  padding: 60px 15px 0;
  overflow-x: hidden;
}
.content {
  padding: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

/* Slider styles
-------------------------------------------------- */
#slider{
	overflow: hidden;
  
  .item {
    position: relative;

    .title, p {
      position: absolute;
      @include box-rgba(0,0,0,0.7,#000000);
      top: 50%;
      left: 15%;
    }
    .title {}
    p {}
  }
}
#owl-slider .item img{
  display: block;
  width: 100%;
  height: auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  position: relative;
  margin-top: 97px;
  @media (min-width: $grid-float-breakpoint) {
    margin-top: 100px;
  }
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  top: 12%;
  left: 10%;
  right: 10%;
  text-align: left;
  
  @media (min-width: $grid-float-breakpoint) {
    top: 20%;
  }
  
  h3 {
    color: #ffc626;
    font-size: 18px;
    @media (min-width: $grid-float-breakpoint) {
      font-size: 36px;
    }
  }
  p {
    @media (min-width: $grid-float-breakpoint) {
      font-size: 18px;
    }
  }
  h3, p span {
    display: inline;
    line-height: 2.2;
    @include box-rgba(0,0,0,0.7,#000000);
    @include box-shadow(rgba(0, 0, 0, 0.7) 10px 0 0, rgba(0, 0, 0, 0.7) -10px 0 0);
    padding: 5px;
    margin: 5px 0;
    clear: both;
  }
}

/* Declare heights because of positioning of img element */
.carousel .item {
  background-color: #777;
  height: auto;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item > img {

  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}

.carousel-control {
  width: 5%;
}


/* Homepage & Section icon styles
-------------------------------------------------- */
#home { 
  .icon-section-full {
    background: url("/assets/img/icons/icon_pattern.png");
    padding: 0;
    padding-bottom: 0;
    @media (min-width: $grid-float-breakpoint) {
      background: #252525;
      padding: ($line-height-computed * 1.5) 0;
    }
    .bkpk-icons {
      margin-bottom: 0;
      padding-left: 12px;
      padding-right: 12px;
    }
    .icon-bg {
      @media (min-width: $grid-float-breakpoint) {
        padding: ($line-height-computed / 2) 0 50%;
      }
    }
  }
}
.icon-section-full {
  background: url("/assets/img/icons/icon_pattern.png");
  padding: 7px 0 5px;
  padding-bottom: 0;
	@include clearfix();
  @media (min-width: $grid-float-breakpoint) {
    background: #252525;
    padding: 7px 0 5px;
  }
  .bkpk-icons {
    margin-bottom: 20px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .icon-bg {
    @media (min-width: $grid-float-breakpoint) {
      padding: ($line-height-computed / 2) 0 80%;
    }
  }
}
.icon-section-full .icons.row:last-of-type {
  margin-top: 20px; 
}
.icons.row {
  .col-xs-3 {
    padding-left: 0;
    padding-right: 0;
    
    @media (min-width: $grid-float-breakpoint) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
.icon-bg {
  padding-bottom: 100%;
  @media (min-width: $grid-float-breakpoint) {
  	background: url("/assets/img/icons/icon_pattern.png");
    border-radius: $border-radius-base * 2;
    padding: ($line-height-computed / 2) 0 50%;
    //min-height: 140px;
    position: relative;
    -moz-box-shadow:    inset 1px -1px 1px 1px #000000;
     -webkit-box-shadow: inset 1px -1px 1px 1px #000000;
     box-shadow:         inset 1px -1px 1px 1px #000000;
  }
}

.Absolute-Center {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
}

.Center-Container { 
  //height:140px; 
}
#home .Absolute-Center.is-Image {
  @media (min-width: $grid-float-breakpoint) {
    width: 80%;
  }
}

// .Center-Container { position: relative; }
.Absolute-Center.is-Image {
  width: 100%;
  @media (min-width: $grid-float-breakpoint) {
	  width: 100%;
	  padding: 10px;
  }
	height: auto;
	padding: 0;
}
.Absolute-Center.is-Image img { 
	width: 100%;
	height: auto;
}

.caption {
	color: #eee;
	font-size: 13px;
  text-align: center; 	
}

/* Section area styles
-------------------------------------------------- */
section.main #content {
  background: #e0e4cd;
}
.section-header {
  color: #fff;
  background: #9c9e8e;

  .container { 
    background: #b70c32;
    padding: 10px;
    border-bottom-color: #8fa68e;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    @include clearfix(); 

    strong.title {
      font-weight: bold;
      font-size: 28px;
      float: left;
      margin-right: 20px;
    }
    .subtitle {
      float: left;
      margin-top: 13px;
    }
  }

}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 20px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* Panel Group styles
-------------------------------------------------- */
.panel-group {
  margin: 20px 0;
}

.panel-body {
  text-overflow: ellipsis;
  overflow: hidden;
  a {
    color: #267CFD;
  }
}

.list-group-item {
  text-overflow: ellipsis;
  overflow: hidden;
}

.panel-title {
  font-size: 16px;
  font-weight: 700;
}

/* Test styles
-------------------------------------------------- */

/* Calculate fluid ratio based on two dimensions (width/height) */
@mixin fluid-ratio($large-size, $small-size) {
  $width-large: nth($large-size, 1);
  $width-small: nth($small-size, 1);
  $height-large: nth($large-size, 2);
  $height-small: nth($small-size, 2);
  $slope: ($height-large - $height-small) / ($width-large - $width-small);
  $height: $height-small - $width-small * $slope;

  padding-top: $slope * 100%;
  height: $height;

  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
}

figure.fluidratio {
  /* This element will have fluid ratio from 4:1 at 800px to 2:1 at 300px. */
  @include fluid-ratio(1200px 350px, 400px 225px);

  background-image: url(/assets/img/slider/bannerimage.png);
  margin-top: 135px;
  position: relative;
  @media (min-width: $grid-float-breakpoint) {
    margin-top: 194px;
  }
  @media (min-width: $screen-md) {
    margin-top: 144px;
  }
}
figcaption.container {
  width: 80%;
}
/* Since positioning the image, we need to help out the caption */
figcaption {
  z-index: 10;
  top: 20%;
  left: 5%;
  right: 5%;
  font-family: 'Arvo', san-serif;
  text-align: left;
  position: absolute;
  
  @media (min-width: $grid-float-breakpoint) {
    top: 0%;
  }

  @media (min-width: $screen-md) {
    top: 5%;
  }
  
  .headline {
    color: #ffc626;
    font-size: 18px;
    font-weight: normal;
    @media (min-width: $screen-md) {
      font-size: 42px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      font-size: 30px;
    }
  }
  p {
    color: #FFF;
    font-family: 'Arvo', san-serif;
    line-height: 2;
    max-width: 450px;
    @media (min-width: $screen-md) {
      font-size: 22px;
      line-height: normal;
      margin-top: -6px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      font-size: 18px;
      line-height: normal;
      margin-top: -2px;
    }
  }
  .headline, p span {
    display: inline;
    line-height: 1.8;
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      line-height: 1.9;
    }
    @include box-rgba(0,0,0,0.7,#000000);
    @include box-shadow(rgba(0, 0, 0, 0.7) 10px 0 0, rgba(0, 0, 0, 0.7) -10px 0 0);
    padding: 5px;
    margin: 5px 0;
    clear: both;
  }
}

.icon {
  background: url("/assets/img/icons/icon_pattern.png");
  border-radius: 8px;
  position:relative;
  float:left;
  padding: 10px;
}

.icon-title {
  position:absolute;
  left:10%;
  right:10%;
  bottom:5%;
  font-size: 1em;
  color: #444;
  text-align:center;
  margin:0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
