@import "var";
@import "twbs/bootstrap";

/* Top Nav styles
-------------------------------------------------- */
.navbar-default {
	border-top-width: 5px;
	border-top-color: #b70d32;
}
.navbar-toggle {
	border-radius: 0;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: $brand-primary;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

/* Slider styles
-------------------------------------------------- */
#slider{
	overflow: hidden;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

/* Homepage icon styles
-------------------------------------------------- */
.section-full {
  background: #333;
  padding: ($line-height-computed * 3) 0; 
}
.icon-bg {
	background: url("/assets/img/icons/icon_pattern.png");
  border-radius: $border-radius-base * 2;
  padding: $line-height-computed / 2;
  min-height: 140px;
  position: relative;
  -moz-box-shadow:    inset 1px -1px 1px 1px #000000;
   -webkit-box-shadow: inset 1px -1px 1px 1px #000000;
   box-shadow:         inset 1px -1px 1px 1px #000000;
}

.img-responsive {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
