@import "var";
@import "twbs/bootstrap";
@import "css3-mixins";
@import "compass";

/* Top Nav styles
-------------------------------------------------- */
.navbar-default {
	border-top-width: 5px;
	border-top-color: #b70d32;
	
	.navbar-header {
    background: #a30532;
    
    .navbar-brand {

       img {
         
       }
    }
  }
  
  .navbar-nav {
    width: 100%;
    background: #900627;
    float: right;
    @media (min-width: $screen-sm) {
      width: 75%;
    }
    
    li {
      a {
        font-size: 12px;
      }
    }
  }
  .navbar-toggle {
  	border-radius: 0;
  	
  	.icon-bar {
      background-color: #fff;
      height: 3px;
      border-radius: 0;
    }
  }
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
  outline-color: transparent;
}


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -135px;
  /* Pad bottom by footer height */
  padding: 0 0 135px;

  @media (min-width: $grid-float-breakpoint) {
    margin: 0 auto -60px;
    padding: 0 0 60px;
  }
}

/* Set the fixed height of the footer here */
#footer {
  height: 135px;
  background-color: $brand-primary;

  @media (min-width: $grid-float-breakpoint) {
    height: 60px;
  }

  .credit {
    text-align: center;
    margin: 5px 0;
  }

  .nav.nav-justified {
    li {
      a {
        padding: 5px 15px;
        &:hover,
        &:focus {
          background-color: transparent;
        }
      }
    }

  }
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  background: #e0e4cd;
  padding: 60px 15px 0;
  overflow-x: hidden;
}
.content {
  padding: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

/* Slider styles
-------------------------------------------------- */
#slider{
	overflow: hidden;
  
  .item {
    position: relative;

    .title, p {
      position: absolute;
      @include box-rgba(0,0,0,0.7,#000000);
      top: 50%;
      left: 15%;
    }
    .title {}
    p {}
  }
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  position: relative;
  margin-top: 97px;
  @media (min-width: $grid-float-breakpoint) {
    margin-top: 100px;
  }
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  top: 12%;
  left: 10%;
  right: 10%;
  text-align: left;
  
  @media (min-width: $grid-float-breakpoint) {
    top: 20%;
  }
  
  h3 {
    color: #ffc626;
    font-size: 18px;
    @media (min-width: $grid-float-breakpoint) {
      font-size: 36px;
    }
  }
  p {
    @media (min-width: $grid-float-breakpoint) {
      font-size: 18px;
    }
  }
  h3, p span {
    display: inline;
    line-height: 2.2;
    @include box-rgba(0,0,0,0.7,#000000);
    @include box-shadow(rgba(0, 0, 0, 0.7) 10px 0 0, rgba(0, 0, 0, 0.7) -10px 0 0);
    padding: 5px;
    margin: 5px 0;
    clear: both;
  }
}

/* Declare heights because of positioning of img element */
.carousel .item {
  background-color: #777;
  height: auto;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item > img {

  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}

.carousel-control {
  width: 5%;
}


/* Homepage icon styles
-------------------------------------------------- */
#home { 
  .icon-section-full {
    background: url("/assets/img/icons/icon_pattern.png");
    padding: ($line-height-computed * 2) 0;
    padding-bottom: ($line-height-computed * 3);
    @media (min-width: $grid-float-breakpoint) {
      background: #333;
      padding: ($line-height-computed * 3) 0;
    }
  }
}
.icon-section-full {
  background: url("/assets/img/icons/icon_pattern.png");
  padding: $line-height-computed 0 60px;
  padding-bottom: 0;
	@include clearfix();
  @media (min-width: $grid-float-breakpoint) {
    background: #252525;
    padding: ($line-height-computed * 3) 0 60px;
  }
  .bkpk-icons {
    margin-bottom: 20px;
  }
}
.icon-section-full .icons.row:last-of-type {
  margin-top: 20px; 
}
.icons.row {
  .col-xs-3 {
    padding-left: 0;
    padding-right: 0;
    
    @media (min-width: $grid-float-breakpoint) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
.icon-bg {
  @media (min-width: $grid-float-breakpoint) {
  	background: url("/assets/img/icons/icon_pattern.png");
    border-radius: $border-radius-base * 2;
    padding: $line-height-computed / 2;
    min-height: 140px;
    position: relative;
    -moz-box-shadow:    inset 1px -1px 1px 1px #000000;
     -webkit-box-shadow: inset 1px -1px 1px 1px #000000;
     box-shadow:         inset 1px -1px 1px 1px #000000;
  }
}

.Absolute-Center {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
}

.Center-Container { 
  height:140px; 
}

// .Center-Container { position: relative; }

.Absolute-Center.is-Image {
  width: 100%;
  @media (min-width: $grid-float-breakpoint) {
	  width: 50%;
	  padding: 0;
  }
	height: 50%;
	padding: 10px;
}
.Absolute-Center.is-Image img { 
	width: 100%;
	height: auto;
}

.caption {
	color: #eee;
	font-size: 13px;
  text-align: center; 	
}

/* Section area styles
-------------------------------------------------- */
section.main #content {
  background: #e0e4cd;
}
.section-header {
  color: #fff;
  background: #9c9e8e;

  .container { 
    background: #b70c32;
    padding: 10px;
    border-bottom-color: #8fa68e;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    @include clearfix(); 

    strong.title {
      font-weight: bold;
      font-size: 28px;
      float: left;
      margin-right: 20px;
    }
    .subtitle {
      float: left;
      margin-top: 13px;
    }
  }

}
/* Panel Group styles
-------------------------------------------------- */
.panel-group {
  margin: 20px 0;
}
