.icon-academic_success { background-image: url(png/academic_success.png); background-repeat: no-repeat; }

.icon-campus_life { background-image: url(png/campus_life.png); background-repeat: no-repeat; }

.icon-gpc_facebook { background-image: url(png/gpc_facebook.png); background-repeat: no-repeat; }

.icon-gpc_linkedin { background-image: url(png/gpc_linkedin.png); background-repeat: no-repeat; }

.icon-gpc_logo { background-image: url(png/gpc_logo.png); background-repeat: no-repeat; }

.icon-gpc_logo_white { background-image: url(png/gpc_logo_white.png); background-repeat: no-repeat; }

.icon-gpc_twitter { background-image: url(png/gpc_twitter.png); background-repeat: no-repeat; }

.icon-gpc_youtube { background-image: url(png/gpc_youtube.png); background-repeat: no-repeat; }

.icon-icollege { background-image: url(png/icollege.png); background-repeat: no-repeat; }

.icon-military_outreach { background-image: url(png/military_outreach.png); background-repeat: no-repeat; }

.icon-paying_for_college { background-image: url(png/paying_for_college.png); background-repeat: no-repeat; }

.icon-personal_success { background-image: url(png/personal_success.png); background-repeat: no-repeat; }

.icon-safety_security { background-image: url(png/safety_security.png); background-repeat: no-repeat; }

.icon-technology_tips { background-image: url(png/technology_tips.png); background-repeat: no-repeat; }